/Java/Workspace/HelloWordNetBeans/nbproject/private/
/Java/Workspace/HelloWordNetBeans/build/
/Java/Workspace/test_native/nbproject/private/
/Java/Workspace/test_native/build/
/Java/Workspace/test_native/dist/
/Java/Workspace/native/nbproject/private/
/Java/Workspace/native/build/