/Java/Workspace/HelloWordNetBeans/nbproject/private/
/Java/Workspace/HelloWordNetBeans/build/
/Java/Workspace/test_native/nbproject/private/
/Java/Workspace/test_native/build/
/Java/Workspace/test_native/dist/
/Java/Workspace/native/nbproject/private/
/Java/Workspace/native/build/
/Java/Workspace/Nslookup/nbproject/private/
/Java/Workspace/Nslookup/build/
/Java/Workspace/Nslookup/dist/
/Java/Workspace/BaitapIO_01/nbproject/private/
/Java/Workspace/BaitapIO_01/build/
/Java/Workspace/BaitapIO_01/dist/
/Java/Workspace/UDCungHoangDao/nbproject/private/
/Java/Workspace/UDCungHoangDao/build/
/Java/Workspace/UDCungHoangDao/dist/
/Java/Workspace/lab1ex2/nbproject/private/
/Java/Workspace/lab1ex1/nbproject/private/
/Java/Workspace/lab1ex1/build/
/Java/Workspace/lab1ex2/build/
/Java/Workspace/lab1ex3/nbproject/private/
/Java/Workspace/lab1ex3/build/
/Java/Workspace/lab1ex4/nbproject/private/
/Java/Workspace/lab1ex4/build/
/Java/Workspace/lab2/nbproject/private/
/Java/Workspace/lab2/build/
/Java/Workspace/CRUD/target/
