* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    /* position: relative; */
    background-color: aquamarine;

    display: -webkit-box;

    display: -webkit-flex;

    display: -moz-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

/* Start: Commons */
.btn-action {
    width: 50px;
    height: 50px;
}

/* End: Commons */

/* @media (orientation: portrait) { */

/* Start: CSS Button Action */
.btn-action {
    rotate: 90deg;
}

/* .btn-action.a {
    position: absolute;
    left: 10%;
    bottom: 10%;
}

.btn-action.b {
    position: absolute;
    left: 24%;
    bottom: 2%;
}

.btn-action.x {
    position: absolute;
    left: 24%;
    bottom: 18%;
}

.btn-action.y {
    position: absolute;
    left: 40%;
    bottom: 10%;
} */

/* End: CSS Button Action */
/* } */

/* @media (orientation: landscape) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        height: 100vw;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
} */